body
{
  background: #444;
  color: #0F0;
  overflow: hidden;
  font-family: monospace;
  margin: 0;
}

#measureme {
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;	
}

.asciiart {
  position: absolute;
  transform-origin: 50% 50% 0;  
  bottom:-1000em;
  left:-1000em;
}

#editor {
  float: right;
  transform: translateZ(-10em);
  width: 24%;
}

#editor textarea {
  width:100%;
}

#playframe
{
  background: #000;  
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  perspective-origin: 50% 40%;
  perspective: 50em;
  margin:0;
}

#playframe:focus {
    outline: 0;
}

#playframe.editmode
{
  right: 25%;
  overflow: hidden;
}

#playspace
{
  overflow: visible;
  background: #000;
  height: 100%;
  width:100%;  
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  z-index: 0;
  margin: 0;
  
}

#statusframe
{
 background: rgba(0,0,0,.5);
 color: #0F0;
 position: absolute;
 left: 1em;
 top: 1em;
 z-index: 500000;
 font-size: 125%;
 
}

#startmenu
{
 background: rgba(0,0,0,.9);
 color: #0F0;
 position: absolute;
 z-index: 500001;
 font-size: 75%;
 overflow-y: auto;
 top:0;
 bottom:0;
 left:0;
 right:0;
 display: none;  
}

#playframe.menumode #startmenu
{
  display: block;
}

#startmenutitle
{
 font-size: 150%;
 float: right;
 margin-right:2em;
}



#endmenu
{
 background: rgba(0,0,0,.9);
 color: #0F0;
 position: absolute;
 z-index: 500002;
 overflow-y: auto;
 top:0;
 bottom:0;
 left:0;
 right:0;
 display: none; 
 padding-left:4em; 
 padding-top:1em; 
}

#playframe.endmode #endmenu
{
  display: block;
}

#endmenu h1
{
font-size:300%;

}


#endmenu a
{
   font-size:200%;
   padding:1em;
   border: 1px solid #009;
}


.normal_y
{
  transform-origin: 0 100% 0;  
  transform: rotateX(-90deg);  
}


.normal_x
{
  transform: rotateX(-90deg) rotateY(90deg);  
  transform-origin: 0 100% 0;  
}


.arch1
{
  color: #0F0;
}

.arch1 span.solid
{
  background: rgba(0,0,0,0.7); 
}

.arch1 span.mark_a
{
  color: #FFF;
}

.arch1 span.mark_b
{
  color: #0FA;
}


.arch2
{
  color: #0FA;
  background: #010; 
}

.arch2x span.solid
{
  color: #0FA;  
  background: #010; 
}

.side1
{
  color: #054;
  background: #010;
}

.side2
{
  color: #505020;
  background: #050502;
}

.floor
{
  bottom:0em;
  color: #030;
  background: #010;
}

.tut_floor
{
  color: #060;
  background: linear-gradient(to right,#060,#020,#060,#020,#060,#020,#060);
}


.tut_wall
{
  color: #CCC;
  background: linear-gradient(to bottom,#004,#000,#009,#060);
}

.tut_sign span.solid
{
  color: #FFF;
  background: #000;
}

.tut_tree span.solid
{
  color: #D2691E;
  background:rgb(139,69,19);
}


.tut_tree span.mark_a
{
  color: #0F0;  
  background: rgba(0,64,0,.3);
}

.tut_tree span.mark_b
{
  color: #F00;  
  background: rgba(128,0,0,.6);
}

.floor span.mark_a
{
 color: #080;
 
}

.jet_floor
{
  color: #006;
  background: #446;
}

.jet_floor span.mark_a
{
  color: #DDD;
  background: #111;
}


.jet_floor span.mark_b
{
  color: #AAA;
  background:#002;
}


.jet_floor span.mark_a span.mark_b
{
  color: #FF0;
  background:#111;
}

.jet_wall span.solid
{
   background: #024;
   color:#08F;
}

.jet_wall span.solid span.mark_a
{
   background: #044;
   color:#088;
}


.jet_wallalt span.solid
{
   background: #042;
   color:#0F8;
   
}

.jet_wallalt span.solid span.mark_a
{
   background: #200;
   color:#800;
}

.playercraft
{
  color: #FFF;
}

.playercraft span.solid
{
   background: rgba(128,128,128,.6);  
}

.playercraft.danger span.solid
{
   background: rgba(128,0,0,.8);  
   color: #FAA;
}

.playercraft.second
{
  color: #999;
}

.playercraft.second span.solid
{
   background: rgba(128,128,128,.1);  
   color: #999;
}

.playercraft.shadow 
{
   color: #000;   
}
.playercraft.shadow span.solid
{
   background: rgba(0,0,0,.6);
   color: #000;   
}


.menutitle span
{
  color: #0D0;
}

.menutitle span.mark_a 
{
  color: #F00;
  background: #500;
}

.menutitle span.mark_b 
{
  color: #080;  
}

.levelbutton
{
  float:left;
  margin-left: 2em;  
  text-decoration:none;
  color: #00F;
  cursor: pointer;
  font-weight: bolder;
}


.levelbutton:hover
{
  color: #55F;
  background: #003;
}